<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆</title>
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/muie.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
    <div class="layout">
        <header id="header" class="mui-bar mui-bar-nav">
            <div class="pyg_back mui-icon mui-icon-left-nav mui-pull-left"></div>
            <h1 class="mui-title">登陆</h1>
        </header>
        <div class="pyg_login">
            <form class="mui-input-group">
                <div class="mui-input-row">
                    <label>手机</label>
                    <input type="text" name="username" class="mui-input-clear username" placeholder="请输入手机">
                </div>
                <div class="mui-input-row">
                    <label>密码</label>
                    <input type="password" name="password" class="mui-input-password password" placeholder="请输入密码">
                    <span class="mui-icon mui-icon-eye"></span>
                </div>
            </form>
            <div class="login_btn_tool">
                <button class="mui-btn mui-btn-primary mui-btn-outlined pyg_register">注册</button>
                <button id="login_btn" class="mui-btn mui-btn-primary">登录</button>
            </div>
        </div>
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item" href="./category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="./cart.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="mui-tab-item" href="./my.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>