<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/muie.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/my.css">
</head>

<body>
    <div class="layout">
        <header id="header" class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
            <h1 class="mui-title">个人中心</h1>
        </header>
        <div class="pyg_view">

            <!-- 用户信息 -->
            <div class="pyg_userinfo">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <span class="mui-icon mui-icon-contact mui-media-object mui-pull-left"></span>
                            <div class="mui-media-body">
                                <span class="username">13812345678</span>
                                <p class="mui-ellipsis "><span class="user_email">123@qq.com</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 订单管理 -->
            <div class="pgy_order">
                <div class="order_title">订单管理</div>
                <div class="order_tabs">
                    <a href="/pages/order.html?type=1">
                        <span class="fa fa-money"></span>
                        <div class="item_name">待付款</div>
                    </a>
                    <a href="/pages/order.html?type=1">
                        <span class="fa fa-envelope-open-o"></span>
                        <div class="item_name">待收货</div>
                    </a>
                    <a href="/pages/order.html?type=1">
                        <span class="fa fa-pie-chart "></span>
                        <div class="item_name">退款/售后</div>
                    </a>
                    <a href="/pages/order.html?type=1">
                        <span class="fa fa-shopping-bag "></span>
                        <div class="item_name">全部订单</div>
                    </a>
                </div>
            </div>
            <!-- 密码 -->
            <div class="pyg_pwd">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">修改登录密码</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">支付密码管理</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">收货地址管理</a>
                    </li>
                </ul>
            </div>
            <!-- 客服 -->
            <div class="pyg_contack">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <a class="">联系客服
                            <span class="mui-pull-right">4000-xxx-xxx-xxx</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">意见反馈</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">关于我们</a>
                    </li>
                </ul>
            </div>
            <!-- 退出登录 -->
            <div class="login_out">
                <button id="btn_login_out" type="button" class="mui-btn mui-btn-block mui-btn-danger">退出登录</button>
            </div>

        </div>
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item" href="./category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="./cart.html">
                    <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
                    <span class="mui-tab-label">购物车</span>
                </a>
                <a class="mui-tab-item" href="./my.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/my.js"></script>
</body>

</html>