.layout {
    width: 100vw;
    height: 100vh;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.pyg_header {
    padding: 5px;
    height: 45px;
}

.pyg_content {
    flex: 1;
    overflow: scroll;
}

.pyg_footer {
    height: 50px;

    .mui-bar {
        // border-top: 1px solid #000;
        box-shadow: none;
    }
}